<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>doublechess</title>
    <link href='{% static "website/styles.css"%}' rel='stylesheet'>
    {% block head %}
    {% endblock %}
</head>
<body>

    <div class='menu'>

        <ul>
            <li><a href='{% url "homepage" %}'>Homepage</a></li>
            <li><a href='{% url "tutorial" %}'>Tutorial</a></li>
            <li><a href='{% url "twoplayer" %}'>Twoplayer</a></li>
            <li><a href='{%url "analysis" %}'>Analysis</a></li>
        </ul>

    </div>

    <div class='main-content'>

    {% block content %}
    {% endblock %}

    </div>

</body>
</html>
