{% extends 'website/base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock %}


{% block content %}
<!-- this loads base twice but has little effect-->
{% include 'website/player.html' %}

    <div class="private-content">
        <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Profile info</h2>
            <br>
            {{ u_form|crispy  }}
            {{ p_form|crispy  }}
            <br>
            <button class='submit-button'>Update</button>
        </form>

    </div>
    
{% endblock %}
