{% extends 'website/base.html'%}
{% load static %}

{% block head %}
<link href='{% static "website/userstyles.css"%}' rel='stylesheet'>
{% endblock %}

{% block content %}

<div class='user-container'>
    <form method='POST' class='user-create-container' id='register'>
        {% csrf_token %}
        <h2>Create user</h2>
        <br>
        {{ form  }}
        <br>
        <button class='submit-button'>Sign Up</button>
    </form>
    <div class="login">
        <small class="text-muted">
            Already Have An Account? 
            <a href='{% url "login" %}'>Log In Here</a>
        </small>

    </div>
</div>


{% endblock %}
