{% extends 'website/base.html'%}
{% load static %}

{% block head %}
        <link href='{% static "website/tutorial.css"%}' rel='stylesheet'>
{% endblock %}

{% block content %}

<h1>Double chess tutorial</h1>
<br>
<h2>Game rules</h2>

<p class="ruleset">
    <b> Piece movement: </b>
    Piece movement is the same as in regular chess. 
    <br><br>
    <b>Turns:</b>
    White begins with one move. Then black answers with two moves, followed by whites two moves. After this the game continues with two moves each turn. 
    <br><br>

    <b>End of the game:</b>
    If the king is captured, the game is over.<br>
    Otherwise the game ends with a timeout, resignation or draw offer.
    <br><br>
    <b>Other rules:</b>
    There is no concept of a 'hard pin' or being in 'check' in this game.<br>
</p>

{% endblock %}
