{% extends 'website/base.html'%}
{% load static %}

{% block head %}
<script src='{% static "website/chess-gui.js"%}'></script>
<script src='{% static "website/chess-utils.js"%}'></script>
<script src='{% static "website/chess.js"%}'></script>
{% endblock %}

{% block content %}

<div class="main-grid" id="main-grid">
    <div class="left-display">
        <div class="time-display">10:00</div>
        <div class="user-display">Username2</div>
        <div class="left-display-body"></div>
        <button class="reset-box" id="reset-button">reset</button>
        <button class="resign-box" id="resign-button">resign</button>
        <div class="user-display">Username1</div>
        <div class="time-display">10:00</div>
    </div>
    <div class="chess-board" id="chess-board"></div>
    <div class="move-display" id="move-display">
        <div class="move-display-header-row">
            <div class="move-display-header"></div>
            <div class="move-display-header">White</div>
            <div class="move-display-header">Black</div>
        </div>
        <div class="move-display-content-row">
            <div class="move-display-sidebar" id="side-bar"></div>
            <div class="move-display-move-container">
                <div class="move-display-column" id="white-moves-1"></div>
                <div class="move-display-column" id="white-moves-2"></div>
            </div>
            <div class="move-display-move-container">
                <div class="move-display-column" id="black-moves-1"></div>
                <div class="move-display-column" id="black-moves-2"></div>
            </div>
        </div>
    </div>
    <div></div>
    <div></div>
       <div class="move-display-controller">
        <div class="arrow-buttons">
            <button class="cool-button" id="left-total">&#8666</button>
            <button class="cool-button" id="left-single">&#8656</button>
            <button class="cool-button" id="right-single">&#8658</button>
            <button class="cool-button" id="right-total">&#8667</button>
        </div>
        <button class="cool-button" id="reverse-board">&#8645</button>
    </div>
</div>

{% endblock %}
