*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    overflow: visible;
}

html, body{
    height:100%;
    margin:0;
}

.menu{
    display:block;
    position:fixed;
    margin:auto;
    top:0;
    height:40px;
    width: 100%;
    background-color:#555577;
    padding:5px;
    z-index: 10;
}

.menu > ul{
    height:100%;
    display: flex;
    flex-direction: row;
}

.menu > ul > li{
    height:100%;
    display: flex;
    margin: 0px 10px;
    padding:0px 10px;
}

.menu > ul > li > a{
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    color:white;
}

.main-content{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.chess-board-container{
    border: 2px solid #222233;
    margin: 10px;
    position: relative;
}


.chess-board{
    margin:0;
    padding:0;
    border-collapse: collapse;
}

.chess-square{
    position: relative;
    width:65px;
    height:65px;
    box-sizing:border-box;
    text-align: center;
    font-weight: bold;
}

.dark-square{
    background-color: #333355;
}

.light-square{
    background-color: #EEEEFF;
}

.move {
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
    opacity: 0.7;
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

.capture {
    height: 18px;
    width: 18px;
    background-color:orange;
    opacity: 0.6;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}


.chess-piece{
    background-size: 100%;
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
}

.promotion{
    display: grid;
    overflow: hidden;
    border: 4px solid #111122;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    width: 170px;
    height: 170px;
    border-radius: 23px;
}

.promotion-square-light{
    position: relative;
    background-color: #EEEEFF
}
.promotion-square-dark{
    position: relative;
    background-color: #888899;
}

.white_king{
    background-image: url('/static/website/images/white_king.svg');
}

.white_queen{
    background-image: url('/static/website/images/white_queen.svg');
}

.white_rook{
    background-image: url('/static/website/images/white_rook.svg');
}

.white_bishop{
    background-image: url('/static/website/images/white_bishop.svg');
}

.white_knight{
    background-image: url('/static/website/images/white_knight.svg');
}

.white_pawn{
    background-image: url('/static/website/images/white_pawn.svg');
}

.black_king{
    background-image: url('/static/website/images/black_king.svg');
}

.black_queen{
   background-image: url('/static/website/images/black_queen.svg');
}

.black_rook{
    background-image: url('/static/website/images/black_rook.svg');
}

.black_bishop{
    background-image: url('/static/website/images/black_bishop.svg');
}

.black_knight{
    background-image: url('/static/website/images/black_knight.svg');
}

.black_pawn{
    background-image: url('/static/website/images/black_pawn.svg');
}

.move-display{
    display: flex;
    flex-direction: column;
    border: 2px solid #222233;
    box-sizing: content-box;
    height: 522px;
    width: 415px;
    margin: 10px 0;
    background-color: #F7F7FF;
}

.move-display:hover{
    cursor: default;
}

.move-display-header-row{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    height: 40px;
    flex-basis: 0;
}

.move-display-header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    border-bottom: 1px solid #222233;
}

.move-display-content-row{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    flex-grow: 1;
    flex-basis: 0;
    background-color: #222233;
    grid-gap: 1px;
    overflow-y: auto;
}

.move-display-content-row::-webkit-scrollbar{
    width: 6px;
    background-color: #F7F7FF;
}

.move-display-content-row::-webkit-scrollbar-thumb{
    background-color: #555577;
}

.move-display-sidebar{
    display: flex;
    flex-direction: column;
    background-color: #F7F7FF;
}

.move-display-move-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F7F7FF;
}

.move-display-column{
    display: flex;
    flex-direction: column;
}

.move-item{
    display: flex;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
}

.move-item:hover{
    background-color: #ddddee;
}

.move-fillitem{
    height: 30px;
}

.sidebar-item{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}