*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.menu{
    display:block;
    position:fixed;
    top:0;
    height:40px;
    width: 100%;
    background-color: #DDEEFF;
    padding:5px;
}

.menu > ul{
    height:100%;
}

.menu > ul > li{
    height:100%;
    display:inline-block;
    margin: 0px 10px;
    padding:0px 10px;
}

.menu > ul > li > a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 18px;
}

.main-content{
    margin-top: 40px;
}

.chess-board-container{
    display: inline-block;
    display: content-box;
    border: 3px solid grey;
    margin: 10px;
}

.chess-board{
    margin:0;
    padding:0;
    border-collapse: collapse;
}

.chess-square{
    width:50px;
    height:50px;
    box-sizing:border-box;
    text-align: center;
    font-weight: bold;
}

.dark-square{
    background-color: #333345;
}

.dark-square:hover{
    background-color: #444455;
}

.light-square{
    background-color: #EEEEFF;
}

.light-square:hover{
    background-color: #CCCCDD;
}

.move {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}

.capture {
    height: 25px;
    width: 25px;
    background-color:orange;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
}


.chess-piece{
    background-size: 100%;
    width: 100%;
    height:100%;
    margin:auto;
}

.white_king{
    background-image: url('/static/website/images/white_king.svg');
}

.white_queen{
    background-image: url('/static/website/images/white_queen.svg');
}

.white_rook{
    background-image: url('/static/website/images/white_rook.svg');
}

.white_bishop{
    background-image: url('/static/website/images/white_bishop.svg');
}

.white_knight{
    background-image: url('/static/website/images/white_knight.svg');
}

.white_pawn{
    background-image: url('/static/website/images/white_pawn.svg');
}

.black_king{
    background-image: url('/static/website/images/black_king.svg');
}


.black_queen{
   background-image: url('/static/website/images/black_queen.svg');
}

.black_rook{
    background-image: url('/static/website/images/black_rook.svg');
}

.black_bishop{
    background-image: url('/static/website/images/black_bishop.svg');
}

.black_knight{
    background-image: url('/static/website/images/black_knight.svg');
}

.black_pawn{
    background-image: url('/static/website/images/black_pawn.svg');
}
